@import "../styles/variables.css";

.reservations-container {
  display: flex;
  min-height: 100vh;
  background-color: var(--color-background);
  padding: 2rem;
  font-family: Arial, sans-serif;
}
